<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div>
    <%- include('./partials/nav'); %>
  </div>
  <div>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, hic. Aspernatur nostrum provident quidem alias sint inventore perferendis blanditiis velit cumque voluptatem, nesciunt expedita ullam deleniti eaque quisquam iusto consequuntur.</p>
  </div>  
</body>
</html>