<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <%- include('./partials/nav'); %>
  <div class="main-content">
    <h1><%= title %></h1>
    <% if (user) { %>
      <% if (user.admin) { %>
        <p>You're already an admin, go <a href="/">here to view posts</a>.</p>
      <% } else { %>
        <form action="/become-an-admin" method="POST">
          <label for="passcode">Secret Passcode: </label>
          <input name="passcode" placeholder="username" type="text" />
          <button>Submit</button>
        </form>

        <% if (errors && Array.isArray(errors) && errors.length > 0) { %>
          <div>
            <h2>Errors:</h2>
            <ul>
              <% errors.forEach(function(error){ %>
                <li><%= error.msg %></p>
              <% }); %>
            </ul>
          </div>
        <% } %>
      <% } %>
    <% } %>
  </div>
</body>
</html>